.centraliza {
    text-align: center;
}

.corpo-fieldset {
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

.email {
    width: 20em;
}

.barra-commando {
    margin-top: 1.3em;
}

.usuario-logado {
    text-align: right;
}

.label {
    font-weight: bold;
}

.ui-widget-content tr {
    border: none !important;
}

.ui-widget-content td {
    border: none !important;
}